<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Care</title>
  </head>
  <style>
    body {
      font-family: "Arial", sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      display: flex;
      align-items: first baseline;
      justify-content: center;
      min-height: 100vh;
    }

    #patientForm {
      max-width: 400px;
      margin: 20px;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      opacity: 1;
    }

    label {
      display: block;
      margin-bottom: 8px;
      color: #555;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }

    button:hover {
      background-color: #45a049;
    }

    #showDr {
      margin-top: 20px;
    }

    .patient-card {
      border: 1px solid #ddd;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .patient-card a {
      color: #1e88e5;
      text-decoration: none;
    }
  </style>
  <body>
    <form action="/showP" method="post" id="patientForm">
      <label for="patientID">Enter Patient ID:</label>
      <input type="text" id="patientID" name="patientID" required />

      <button onclick="showPatient()" type="button">Submit</button>
    </form>

    <div id="showDr"></div>

    <script>
      async function showPatient() {
        const patientID = document.getElementById("patientID").value;

        try {
          const response = await fetch("http://localhost:1331/showP", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ patientID }),
          });

          if (!response.ok) {
            console.error("Failed to retrieve patient data");
            return;
          }

          const data = await response.json();

          if (data.length > 0) {
            document.querySelector("#showDr").innerHTML = "";

            data.forEach((patient) => {
              document.querySelector("#showDr").innerHTML += `
                  <div class="patient-card">
                    <p class="patient-title"><strong>Patient Name: </strong>${patient.patient_name}</p>
                    <p class="patient-description"><strong>Patient ID:</strong> ${patient.patient_id}</p>
                    <p class="patient-release-year"><strong>Disease:</strong> ${patient.disease_name}</p>
                    <p class="patient-genre"><strong>Test Result Date:</strong> ${patient.test_result_date}</p>
                    <p class="test-result">
                      <strong>Test Result:</strong>
                      <a href="${patient.test_result}" target="_blank">View Test Result</a>
                    </p>
                  </div>`;
            });

            console.log("Patient data retrieved successfully");
          } else {
            // no patients found
            document.querySelector("#showDr").innerHTML =
              "<p>No patient found in the database</p>";
            console.log("No patient found in the database");
          }
        } catch (error) {
          console.error("Error fetching patient data:", error);
        }
      }

      document.addEventListener("DOMContentLoaded", () => {
        showPatient();
      });
    </script>
  </body>
</html>
